<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genesis Peluquería</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>Genesis</h1>

        <nav>
            <a href="#">Inicio</a>
            <a href="#">Servicios</a>
            <a href="#">Nosotros</a>
            <a href="#">Contacto</a>
        </nav>
    </header>

    <section class="principal">
        <h2>Bienvenido a Genesis</h2>
        <p>Tu estilo comienza aquí.</p>
    </section>

    <h2 class="titulo-servicios">Servicios</h2>

    <section class="servicios">

        <div class="tarjeta">
            <h3>Corte de Cabello</h3>
            <p>Cortes modernos y clásicos.</p>
        <div class="tarjeta">
    <img src="/static/img/corte.avif" alt="Corte de Cabello">

    <h3>Corte de Cabello</h3>

    <p>Cortes modernos y clásicos.</p>

    <button>Reservar Cita</button>
</div>

<div class="tarjeta">
    <img src="/static/img/tinturado.avif" alt="Tinturado">

    <h3>Tinturado</h3>

    <p>Colores profesionales.</p>

    <button>Reservar Cita</button>
</div>

<div class="tarjeta">
    <img src="/static/img/peinado.avif" alt="Peinados">

    <h3>Peinados</h3>git commit -m "Agregadas imagenes y mejoras en Genesis"

    <p>Peinados para toda ocasión.</p>

    <button>Reservar Cita</button>
</div>

    </section>

    <footer>
        <p>Genesis Peluquería - 2026</p>
    </footer>

</body>
</html>